# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
venv311/
db/

# Databases
*.sqlite3
db.sqlite3

# Models & Large Files
*.onnx
*.json
!postman/*.json
!assets/models/*.onnx.json
*.mp3
*.wav
*.zip
archive/
assets/data/*.pdf

# OS files
.DS_Store
.env
